/*
Theme Name: sratata-theme
Template: twentyseventeen
*/
 
@import url("../twentyseventeen/style.css");
	.entry .subtitle {
		color:#333;
		font:italic 25px/25px Georgia,Times,serif;
		margin-bottom:25px;
}